@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus-visible {
    @apply rounded-sm outline-dashed outline-2 outline-offset-4 outline-violet-300;
  }

  body {
    @apply overflow-y-scroll text-xl antialiased;
  }

  body > :is(footer, header, main, nav) {
    @apply py-4;
  }

  a {
    @apply text-violet-300 underline underline-offset-4;
  }

  p {
    @apply text-pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance bg-gradient-to-br from-rose-300 to-violet-500 bg-clip-text font-bold text-transparent;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }
}

@layer components {
  .prose {
    & > :is(h1, h2, h3, h4, h5, h6, p, ol, ul, figure) {
      @apply mb-4;
    }

    & > :is(h1, h2, h3, h4, h5, h6) {
      @apply mt-8;
    }

    & > :is(h1, h2, h3, h4, h5, h6):first-child {
      @apply mt-0;
    }

    & > :is(ol, ul) {
      @apply pl-8;
    }

    & ol {
      @apply list-decimal;
    }

    & ul {
      @apply list-disc;
    }

    & :is(ol, ul) :is(ol, ul) {
      @apply mt-4 pl-8;
    }

    & :is(ol, ul) > li {
      @apply mb-4;
    }

    & :is(ol, ul) > li:last-child,
    & > :last-child {
      @apply mb-0;
    }

    & code[data-line-numbers] {
      counter-reset: line;
    }

    & code[data-line-numbers] > [data-line]::before {
      @apply mr-4 inline-block w-4 text-right text-neutral-500;
      counter-increment: line;
      content: counter(line);
    }

    & code[data-line-numbers-max-digits='2'] > [data-line]::before {
      @apply w-6;
    }

    & code[data-line-numbers-max-digits='3'] > [data-line]::before {
      @apply w-8;
    }

    & pre {
      @apply overflow-x-auto rounded-xl border border-neutral-700 bg-neutral-900 p-4 text-sm;
    }
  }
}
